<?xml version="1.0" encoding="UTF-8"?>
    <plugin
    	xmlns="http://apache.org/cordova/ns/plugins/1.0"
    	xmlns:rim="http://www.blackberry.com/ns/widgets"
    	xmlns:android="http://schemas.android.com/apk/res/android"
    	id="it.weconstudio.phonegap.plugins.android.IpAddress" 
    	version="0.1" 
    	provider-name="weconstudio">
        <name>IpAddress</name>
        <description>IP Address detection plugin</description>
        <license>Apache 2.0</license>
		<author>weconstudio</author>
        <keywords>weconstudio,ip,address,phonegap,plugins</keywords>
	<engines>
            <engine name="cordova" version=">=3.0.0" />
    	</engines>
    	
	<js-module src="www/IpAddress.js" name="IpAddress">
    	<clobbers target="window.IpAddress" />
	</js-module>

	<platform name="android">
		<config-file target="res/xml/config.xml" parent="/*">
		    <feature name="IpAddress" >
		        <param name="android-package" value="it.weconstudio.phonegap.plugins.android.IpAddress"/>
		        <param name="onload" value="true" />
		    </feature>
		</config-file>

		<config-file target="AndroidManifest.xml" parent="/*">
			<uses-permission android:name="android.permission.INTERNET" />
			<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
			<uses-permission android:name="android.permission.READ_PHONE_STATE" />
		</config-file >

		<source-file src="src/it/weconstudio/phonegap/plugins/android/IpAddress.java" target-dir="src/it/weconstudio/phonegap/plugins/android" />
    	</platform>

    </plugin>

